<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- <form action="https://payment-stage.ecpay.com.tw/Cashier/AioCheckOut/V5">
     <input type="hidden" name ="MerchantID" value = "2000132">
     <input type="hidden" name ="CheckMacValue" value = "erifsdfjljoi38449324o43243">
     <input type="hidden" name ="ReturnURL" value = "http://localhost:3000">
     <button type="submit">送出</button>
     </form> -->
    <%- html %>
  </body>
</html>